

@media screen and (max-width: 1115px) {
  .carousel-caption {
    bottom: 40%;
    padding: 0%;
  }

}


@media screen and (max-width: 800px) {

 .service-container{

  grid-template-columns: 80%;


 }

#yourAcc{
  font-size: 3vw;

}

nav svg{
  width: 3vw;
  transition: all 300ms ease;
  /* filter: invert(1); */
}


.item > span{
  font-size: 2vw;
}

.container svg{
  width: 6vw;
}


  #logo{
    width: 20vw;
    margin: 0%;
    filter: invert(0);

  }

  .btn{
    font-size: 2vw;
  
  }

  #web-name{
    font-size: 4vw;
    margin: auto;
    
  }

    .ser-item p {
        font-size: 2.5vw;
    }
    .ser-item img {
        /* position: absolute; */
        width: 50%;
   
        border: none;
        background: transparent;
    }
    
      
    .heading{
        font-size: 3vw;
      }
      
  
    nav{
        grid-template-columns: repeat(3,31%);
    } 


  .flickity-prev-next-button {
    width: 40px;
    height: 40px;
}

.topCardContainer{
  grid-template-columns: 80%;
  gap: 20px;
}

.secCardContainer{

  grid-template-columns: 72%;


}

  }

  @media screen and (max-width : 625px) {
    .container{
  grid-template-columns: auto;
  justify-content: normal;

}
.con-form input[type="submit"] {
  font-size: 2vw;
}
.details p {
  font-size: 4vw;
  
}

.details svg {
  width: 6vw;
}

.feed-container{
  grid-template-columns: repeat(2,50%);
  
}

.contact-container{
  grid-template-columns: none;

}


.container svg {
  width: 8vw;
}
.item > span {
  /* font-weight: bold; */
  font-size: 3vw;
}

.item{
  justify-content: normal;
}

#yourAcc {
  margin: auto;
  margin-top: 5%;
  margin-bottom: revert;
  width: 80%;
  font-size: 4vw;
}

}
@media screen and (max-width : 400px) {


nav svg{
  width: 4vw;
}

  
.item > span {
    /* font-weight: bold; */
    font-size: 4vw;
}

.con-form input[type="submit"] {
  font-size: 2.5vw;
}
.details svg {
  width: 9vw;
}

.details p {
  font-size: 5vw;
  
}

.container svg {
  width: 12vw;
}

#yourAcc {
  font-size: 5vw;
}

}