
.carousel-category {
  cursor: pointer;
  background: transparent;
}

.carousel-cell {
  display: flex;
  align-items: center;
  width: 28%;
  height: 18vw;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  justify-content: center;
}

.carousel-cell:hover{
  box-shadow: 0px 0 3px 3px #dfdfdf5b;
  background-color: #0017612c;
  border-radius: 15px;
}

.carousel-cell.is-selected img {
  margin: 0%;
}




.heading{
  display: block;
  font-size: 2.5vw;
  width: 98%;
  color: #04151F;
  font-weight: bold;
  text-align: center;
  margin: 5% auto 5% auto;
  
}

.heading::after{
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin:auto ;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}




/* END catagory */


 /* Our services */
  
 .service-container{
  display: grid;
  grid-template-columns: repeat(4,20%);
  justify-content: center;
  column-gap: 10px;
  height: 150px;
  /* margin-bottom: 2%; */
  /* border : 2px solid black; */

}

.ser-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.ser-item img{
  /* position: absolute; */
  width: 40%;
  /* border-radius: 100px; */
  border: none;
  background: transparent;
  /* z-index: 1; */
}

.ser-item img:hover{
  transform: scale(1.2);
}


.ser-item p {
  /* position: absolute; */
  font-weight: bold;
  font-size: 1.3vw;
  color: #FF640A;
}

.ser-item p:hover {
  transform: scale(1.2);
}

/* END Our services */

/* products */

.feed-container{
  display: grid;
  width: 90%;
  margin: auto;
  column-gap: 20px;
  margin-top: 5%;
  grid-template-columns: repeat(4,25%);
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  /* margin-bottom: 30%; */
}

.f-container{
  /* border : 2px solid black; */
  column-gap: 10px;;
  cursor: pointer;
}

/* card */


.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 100%;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
}

.el-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 4px rgba(197, 197, 197, 0.466);
  z-index: 5;

}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
   webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #04151F;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #FF640A;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  /* font-family: 'PT Sans', sans-serif; */
  /* font-size: 18px; */
  color: #252525;
}


.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'PT Sans', sans-serif;
  color: #828282;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  /* z-index: 15; */
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  margin: 0% 30% 0% 30%;
  text-transform: uppercase;
  white-space: nowrap;
}


/* end products */


/* contact */
.contact-container{
  display: grid;
  grid-template-columns: repeat(2,40%);
  grid-template-rows: max-content;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 5%;
  /* border: 2px solid black; */

}

.contact-container .btn{
  font-weight: bold;
  color: #fff;

}


.carousel-cell {
  cursor: pointer;
}

.details{
  border: none;
  border-bottom: 2px solid #FF640A;
  border-top: 2px solid #FF640A;
  padding: 5%;
  overflow-y: scroll;
  scrollbar-color: #FF640A rgb(0, 0, 36) ;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background-color: #04151F;
  width: 2px;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background-color: #f18647;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.con-item{
  display: flex;
  align-items: center;
  padding: 2%;
}

.details svg:hover{
  background-color: #FF640A;
  color: #fff;
}

.details svg{
  width: 4vw;
  color: #FF640A;
  border-radius: 10px;
  padding: 2%;
  margin-right: 2%;
}

#map{ 
  display: block;
  width :100%;
  height :100%;
  border: none;
  margin: auto;
}

.con-form{
  border: none;
  border-bottom: 2px solid #FF640A;
  border-top: 2px solid #FF640A;
  padding: 5%;
}

textarea{
  resize: none;
}


.con-form input[type="submit"]{
  background-color: #FF640A;
  width: 50%;
  margin: 2% 0% 2% 25%;
  font-size: 1.5vw;
}
.con-form input[type="submit"]:hover{
  background-color: #ff4f0a;
}

.form-item{
  padding: 2% 0% 2% 0% ;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback co
  margin: auto;lor */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


#info{
  display: block;
  width: 40vw;
  margin: 5% auto auto;
  text-align: center;
  background-color: rgb(255, 127, 36);
  color: white;
  border-radius: 10px;
  padding: 2%;
  width: 30vw;

}

#info small {
  display: flex;
    font-size: xx-small;
    cursor: pointer;
    /* text-align: right; */
    flex-direction: row-reverse;
    filter: brightness(0.1);
}



/* end contact */

.viewmore{
  background-color: #eb5d1e;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  /* font-weight: 100; */
}
.viewmore:hover{
  color: #fff;
  background-color: rgb(200, 75, 2);
  transform: scale(0.9);
}

#limit{
  display: none;
}